In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
from matplotlib.pyplot import subplots, show
from pprint import pprint
import json

In [10]:
csvfile = pd.read_csv('MLS.csv')
mls_df=pd.DataFrame(csvfile)
mls_df.head()

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange,Date
0,Adjala-Tosorontio,143.7,510000.0,12.00,143.7,510000.0,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-01
1,Adjala-Tosorontio,140.8,499700.0,13.82,140.8,499700.0,13.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-01
2,Adjala-Tosorontio,142.7,506400.0,15.83,142.7,506400.0,15.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-01
3,Adjala-Tosorontio,138.4,491100.0,11.08,138.4,491100.0,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-01
4,Adjala-Tosorontio,145.4,516000.0,16.51,145.4,516000.0,16.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01

In [12]:
mls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5091 entries, 0 to 5090
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           5091 non-null   object
 1   CompIndex          5076 non-null   float64
 2   CompBenchmark      5076 non-null   float64
 3   CompYoYChange      5076 non-null   float64
 4   SFDetachIndex      5076 non-null   float64
 5   SFDetachBenchmark  5076 non-null   float64
 6   SFDetachYoYChange  5075 non-null   float64
 7   SFAttachIndex      4949 non-null   float64
 8   SFAttachBenchmark  4949 non-null   float64
 9   SFAttachYoYChange  4951 non-null   float64
 10  THouseIndex        3803 non-null   float64
 11  THouseBenchmark    3803 non-null   float64
 12  THouseYoYChange    3804 non-null   float64
 13  ApartIndex         4010 non-null   float64
 14  ApartBenchmark     4010 non-null   float64
 15  ApartYoYChange     4008 non-null   float64
 16  Date               5091 non-null   object
dtypes: float64(15), object(2)
memory usage: 676.3+ KB

In [17]:
# mls_df_clean = mls_df.dropna(subset='CompIndex')
mls_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5076 entries, 0 to 5090
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           5076 non-null   object
 1   CompIndex          5076 non-null   float64
 2   CompBenchmark      5076 non-null   float64
 3   CompYoYChange      5076 non-null   float64
 4   SFDetachIndex      5076 non-null   float64
 5   SFDetachBenchmark  5076 non-null   float64
 6   SFDetachYoYChange  5075 non-null   float64
 7   SFAttachIndex      4949 non-null   float64
 8   SFAttachBenchmark  4949 non-null   float64
 9   SFAttachYoYChange  4951 non-null   float64
 10  THouseIndex        3803 non-null   float64
 11  THouseBenchmark    3803 non-null   float64
 12  THouseYoYChange    3804 non-null   float64
 13  ApartIndex         4010 non-null   float64
 14  ApartBenchmark     4010 non-null   float64
 15  ApartYoYChange     4008 non-null   float64
 16  Date               5076 non-null   object
dtypes: float64(15), object(2)
memory usage: 713.8+ KB

In [18]:
mls_df_clean.mean()

/var/folders/9b/5zr1_pkn3szbykw53vkw4vx40000gn/T/ipykernel_62200/1359049067.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mls_df_clean.mean()

CompIndex               244.871592
CompBenchmark        772049.881797
CompYoYChange            10.222695
SFDetachIndex           246.021277
SFDetachBenchmark    948100.059102
SFDetachYoYChange         9.329878
SFAttachIndex           247.290139
SFAttachBenchmark    718284.198828
SFAttachYoYChange         9.311238
THouseIndex             245.168393
THouseBenchmark      582943.965291
THouseYoYChange           9.466312
ApartIndex              236.428279
ApartBenchmark       483821.970075
ApartYoYChange           11.521093
dtype: float64

In [19]:
mls_df_clean[:1]

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange,Date
0,Adjala-Tosorontio,143.7,510000.0,12.0,143.7,510000.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-01

In [27]:
mls_loc = mls_df_clean.groupby(['Location']).nunique()
mls_loc.head()

,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange,Date
Location,,,,,,,,,,,,,,,,
Adjala-Tosorontio,65,64,69,69,69,68,0,0,0,0,0,0,0,0,0,69
Ajax,69,68,69,66,66,69,66,66,69,66,66,69,67,67,68,69
Aurora,65,67,67,68,68,69,66,66,69,66,67,67,62,65,68,69
Bradford West,52,53,54,53,53,54,52,52,54,0,0,0,0,0,0,54
Bradford West Gwillimbury,15,15,15,15,15,15,15,15,15,0,0,0,0,0,0,15

In [26]:
mls_loc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, Adjala-Tosorontio to York Region
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CompIndex          76 non-null     int64
 1   CompBenchmark      76 non-null     int64
 2   CompYoYChange      76 non-null     int64
 3   SFDetachIndex      76 non-null     int64
 4   SFDetachBenchmark  76 non-null     int64
 5   SFDetachYoYChange  76 non-null     int64
 6   SFAttachIndex      76 non-null     int64
 7   SFAttachBenchmark  76 non-null     int64
 8   SFAttachYoYChange  76 non-null     int64
 9   THouseIndex        76 non-null     int64
 10  THouseBenchmark    76 non-null     int64
 11  THouseYoYChange    76 non-null     int64
 12  ApartIndex         76 non-null     int64
 13  ApartBenchmark     76 non-null     int64
 14  ApartYoYChange     76 non-null     int64
 15  Date               76 non-null     int64
dtypes: int64(16)
memory usage: 10.1+ KB

In [32]:
mls_loc=mls_loc[['CompBenchmark','SFDetachBenchmark','SFAttachBenchmark','THouseBenchmark','ApartBenchmark','Date']]
mls_loc

KeyError: "['SFAttachBenchmark', 'THouseBenchmark', 'ApartBenchmark', 'Date'] not in index"